.nav-item {
  text-transform: uppercase;
}
.nav-item:hover {
  border-radius: 5px;
  background-color: rgb(144, 11, 11);
  background: #fff;
  font-size: 40;
  font-weight: bold;
}
.icon {
  font-size: 35px;
  cursor: pointer;
}
.icon:hover {
  color: rgb(235, 47, 22);
}
.icon-div {
  margin-left: 15px;
}
.card {
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.card-img-top {
  height: 80%;
  width: 80%;
  align-items: center;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-img {
  margin-left: 15px;
}
