@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,300;1,400&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
.nav-item {
  text-transform: uppercase;
}
.nav-item:hover {
  border-radius: 5px;
  background-color: rgb(144, 11, 11);
  background: #fff;
  font-size: 40;
  font-weight: bold;
}
.icon {
  font-size: 35px;
  cursor: pointer;
}
.icon:hover {
  color: rgb(235, 47, 22);
}
.icon-div {
  margin-left: 15px;
}
.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.icon-img {
  margin-left: 15px;
}
.center_break {
  margin-top: 30px;
  margin-bottom: 30px;
  margin: auto;
  width: 10%;
  background: #323232;
  border: 1px solid #323232;
}
.btn {
  margin-left: 15px;
}
.btn-registr {
  background: white;
  border: 1px solid #323232;
  color: #323232;
}
.text-box {
  margin-top: 70px;
}
